:root {
  --color-background: #faf8ff;
  --color-error: #b3261e;
  --color-error-container: #ffdad6;
  --color-inverse-on-surface: #f0f0fb;
  --color-inverse-primary: #b2c5ff;
  --color-inverse-surface: #2e3038;
  --color-on-background: #191b23;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #ced9ff;
  --color-on-primary-fixed: #001847;
  --color-on-primary-fixed-variant: #0040a1;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #004f7d;
  --color-on-secondary-fixed: #001d33;
  --color-on-secondary-fixed-variant: #004a76;
  --color-on-surface: #191b23;
  --color-on-surface-variant: #424654;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #ffcfbe;
  --color-on-tertiary-fixed: #370e00;
  --color-on-tertiary-fixed-variant: #7f2b00;
  --color-outline: #737785;
  --color-outline-variant: #c3c6d6;
  --color-primary: #0041a2;
  --color-primary-container-dark: #1f3760;
  --color-primary-container-light: #d3e3fd;
  --color-primary-dark: #a8c7fa;
  --color-primary-container: #0b57d0;
  --color-primary-fixed: #dae2ff;
  --color-primary-fixed-dim: #b2c5ff;
  --color-secondary: #00639b;
  --color-secondary-dark: #7fcfff;
  --color-secondary-container: #7ec1ff;
  --color-secondary-fixed: #cee5ff;
  --color-secondary-fixed-dim: #96cbff;
  --color-success: #146c2e;
  --color-surface: #faf8ff;
  --color-surface-container-dark: #282a2c;
  --color-surface-container-light: #f0f4f9;
  --color-surface-bright: #faf8ff;
  --color-surface-container: #ededf8;
  --color-surface-container-high: #e7e7f2;
  --color-surface-container-highest: #e1e2ec;
  --color-surface-container-low: #f3f3fd;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #d9d9e4;
  --color-surface-tint: #0856cf;
  --color-surface-variant: #e1e2ec;
  --color-tertiary: #802b00;
  --color-tertiary-container: #a83b00;
  --color-tertiary-fixed: #ffdbce;
  --color-tertiary-fixed-dim: #ffb599;
  --color-warning: #f9ab00;
}